<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">
      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Opening Hours</h2>
        </div>
        <p>Monday - Friday: 9:30am - 5:00pm</p>
        <p>Saturday: 9:30am - 2:30pm</p>
        <p>Sunday/Public Holiday: Closed</p>
      </div>
      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
        </div>

        <nav class="text-uppercase1">
          <ul class="list-unstyled g-mt-minus-10 mb-0">

            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
              <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="privacy.php">Privacy</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
            </li>
            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
              <h4 class="h6 g-pr-20 mb-0">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="disclaimer.php">Disclaimer</a>
                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
              </h4>
            </li>

          </ul>
        </nav>
      </div>
      <!-- End Footer Content -->

      <!-- End Footer Content -->

      <!-- Footer Content -->
      <div class="col-lg-4 col-md-6">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
        </div>

        <address class="g-bg-no-repeat g-line-height-2 g-mt-minus-4">
          72 Murray St, Gawler 5118 South Australia
          <br>
          Phone: (08) 8523 2460
          <br>
          Email:
          <a class="g-color-purple" href="mailto:info@spellboundmagicalgifts.com.au"
            class="">info@spellboundmagicalgifts.com.au</a>
        </address>

        <ul class="list-inline mb-0">
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6"
              href="https://www.facebook.com/SpellboundMagicalGifts/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6"
              href="https://www.instagram.com/explore/locations/1032316421/">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item g-mr-10">
            <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6"
              href="https://www.pinterest.com.mx/katrinanockolds/">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>

        </ul>
      </div>
      <!-- End Footer Content -->
    </div>
  </div>
</div>
<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 text-center g-py-20">
  <div class="container">
    <small class="g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2022 © All Rights Reserved. Spellbound Magical Gifts
    </small>
  </div>
</footer>
<!-- End Copyright Footer -->
<script src="assets/js/hs.core.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>

