.headline {
    display: block;
    margin: 10px 0 25px;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h2, .headline h3, .headline h4
{
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $primary-color;
}

/*  header stuff  */
header {
    z-index: 99;
    position: relative;
    border-bottom: solid 2px #eee;
}
.navbar{padding:0}

/*  footer stuff */
@media (max-width: 414px){
    footer p {
        text-align:center;
    }
    footer .text-right{text-align:center !important}
}
footer .container {
    font-size: 14px;
    border-top: solid 1px #777;
    margin-top: 10px;
    padding-top: 10px;
}

/*  buttons  */
.btn{border-radius:0}
.btn-primary{background-color:$primary-color; border-color:$primary-color}
.btn-primary:hover{background-color:darken($primary-color, 5%) ; border-color:$primary-color}
.btn-outline-primary{color:$primary-color; border-color:$primary-color}
.btn-outline-primary:hover{color:#fff; background-color:$primary-color}

/*  top nav bar  */
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
@media (min-width: 992px){
    .dropdown-menu {
        padding: 0;
        border: none;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999!important;
        border-top: solid 2px $primary-color;;
        border-bottom: solid 2px #687074;
    }
}

.navbar-nav>li:hover{border-bottom: 2px solid $primary-color;}

@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
        padding: 0 10px;
    }
}

/*  our services  */
.service
{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px;
}
.service .service-icon
{
    color: #72c02c;
}
.service .service-icon
{
    float: left;
    padding: 10px;
    color: #72c02c;
    font-size: 35px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.fa
{
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.service .desc
{
    padding: 0 15px;
    overflow: hidden;
}
.service:hover
{
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.icons {
    float: left;
    padding-top: 10px;
}

/* projects */
.card h3{color:$primary-color}
.card-image{height:125px;overflow: hidden;}

/*  call to action  */
.call-action{background-color: $primary-color;border-radius: 0;width:100%;padding:20px 0}
.call-action h2{color:#fff}
.call-action p{color:#fff}
.call-action .btn{border:1px solid #fff}

/*  portfolio */
.tab-content{border-top: 1px solid $primary-color}
.portfolio .nav-item{background-color: $primary-color}
.portfolio .nav-item a{color: #fff}
.portfolio .nav-tabs .nav-link{border:none;border-radius: 0}
.portfolio .nav-tabs .nav-link:hover{border:none}
.portfolio .nav-tabs .nav-link.active{background-color: $primary-color;color:#fff}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after {
    content: "";
    position: relative;
    bottom: -48px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: $primary-color;
}
.overflow-hidden {
    overflow: hidden;
    height: 157px;
}
.thumbnail-style {
    padding: 7px;
    margin-bottom: 20px;
}
.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 11px;
}
.is-checked{background-color: $primary-color;color:#fff}

.clients img{height:130px}
.embed-responsive iframe{height:260px !important}
.embed-responsive-16by9::before {
    padding-top: 35.25%;
}
.active{border-bottom:2px solid $primary-color}