<section class="g-bg-gray-light-v5 g-py-50">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h2 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">About Us</h2>
      </div>
      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>About Us</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="container g-py-50">
  <div class="row">
    <div class="col-lg-6 g-mb-50 g-mb-0--lg">
      <img class="img-fluid" src="assets/img/about.png" alt="Image Description">
    </div>

    <div class="col-lg-6 align-self-center">
      <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
        <h2 class="h3 u-heading-v2__title text-uppercase g-font-weight-300">About Spellbound</h2>
      </header>
  

      <p>Spellbound Magical Gifts is a family owned and operated business located in the main street of the historic
        town of Gawler, about an hour north of Adelaide. &nbsp;</p>
      <p>Formerly known as "Fairy Secrets", Spellbound has been in the current location since 2001, and has been proudly
        supplying&nbsp; the local &amp; wider community with unique gifts and new age products for over 20 years.&nbsp;
      </p>
      <p>Spellbound staff take great care to provide a friendly personalised service, and value their loyal customers.

      <!-- <ul class="list-unstyled g-color-gray-dark-v4 g-mb-40">
        <li class="d-flex g-mb-10">
          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
          Included Over 2000+ UI Components
        </li>
        <li class="d-flex g-mb-10">
          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
          Beautiful Eye Catching Demos
        </li>
        <li class="d-flex g-mb-10">
          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
          Over 30+ Beautiful Thematic Examples
        </li>
        <li class="d-flex g-mb-10">
          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
          Semantic HTML5/CSS3 Codes
        </li>
      </ul> -->

    </div>
  </div>
</section>


<section class="container g-my-50">
  <div class="text-center g-my-50 u-heading-v3-1 g-mb-40">
    <h2 class="text-uppercase h2 u-heading-v3__title g-brd-primary">Testimonials
    </h2>
  </div>
  <!-- Testimonials -->
  <div class="row">
    
    <div class="col-lg-6 g-mb-30">
      <!-- Testimonials -->
      <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
        <div class="d-flex mr-4">
          <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img14.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
          <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
          <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
        </div>
      </div>
      <!-- End Testimonials -->
    </div>

    <div class="col-lg-6 g-mb-30">
      <!-- Testimonials -->
      <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
        <div class="d-flex mr-4">
          <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img5.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
          <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
          <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
        </div>
      </div>
      <!-- End Testimonials -->
    </div>

    <div class="col-lg-6 g-mb-30">
      <!-- Testimonials -->
      <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
        <div class="d-flex mr-4">
          <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
          <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
          <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
        </div>
      </div>
      <!-- End Testimonials -->
    </div>

    <div class="col-lg-6 g-mb-30">
      <!-- Testimonials -->
      <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
        <div class="d-flex mr-4">
          <img class="g-width-70 g-height-70 rounded-circle" src="../../assets/img-temp/100x100/img6.jpg" alt="Image Description">
        </div>
        <div class="media-body">
          <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
          <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
          <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
        </div>
      </div>
      <!-- End Testimonials -->
    </div>
  </div>
  <!-- End Testimonials -->
</section>




<!-- 

<section class="container g-py-50">
  <div class="row">
    <div class="small-12 columns">
      <p><img alt="" src="/assets/img/oils.jpg"
          style="border: 0px solid; float: right; margin-left: 10px; width: 400px; height: 400px;"></p>
      <p>Spellbound Magical Gifts is a family owned and operated business located in the main street of the historic
        town of Gawler, about an hour north of Adelaide. &nbsp;</p>
      <p>Formerly known as "Fairy Secrets", Spellbound has been in the current location since 2001, and has been proudly
        supplying&nbsp; the local &amp; wider community with unique gifts and new age products for over 20 years.&nbsp;
      </p>
      <p>Spellbound staff take great care to provide a friendly personalised service, and value their loyal customers.
        &nbsp;
      </p>
    </div>
  </div>
</section> -->