<section class="middle-section">
    <div class="row">
        <div class="medium-12">
            <h2>Children</h2>
        </div>
    </div>
    <div class="row">
        <ul class="productList productSmall">
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/light-amber-bracelet.jpg" alt="Amber Necklaces" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Amber Necklaces</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/worry-dolls.jpg" alt="Worry Dolls" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Worry Dolls</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/affirmation-cards.jpg" alt="Affirmation Cards" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Affirmation Cards</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/fairy-garden.jpg" alt="Fairy Garden" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Fairy Garden</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>