<section class="g-bg-gray-light-v5 g-py-50">
    <div class="container">
      <div class="d-sm-flex text-center">
        <div class="align-self-center">
          <h2 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Contact Us</h2>
        </div>
        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Contact Us</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</section>


<section class="container g-py-50">
    <div class="row no-gutters">
      <div class="col-lg-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1954230346114!2d138.74687731572203!3d-34.59921956476836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab9ffc58c1f773d%3A0xc25aa8f66cf331ef!2s72+Murray+St%2C+Gawler+SA+5118!5e0!3m2!1sen!2sau!4v1554978702387!5m2!1sen!2sau" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>   
      </div>

      <div class="col-lg-5 g-bg-gray-dark-v1">
        <div class="g-pa-50 g-pa-70--md">

          <!-- Contact Details -->
          <ul class="list-unstyled g-color-white-opacity-0_7 g-font-weight-300 g-font-size-13 g-line-height-1_8 mb-0">
            <li class="g-my-30">
              <div class="media">
                <i class="d-flex g-color-purple g-font-size-20 mt-1 mr-4 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                <div class="media-body">
                    72 Murray St, Gawler 5118 South Australia
                </div>
              </div>
            </li>
            <li class="g-my-30">
              <div class="media">
                <i class="d-flex g-color-purple g-font-size-20 mt-1 mr-4 icon-communication-062 u-line-icon-pro"></i>
                <div class="media-body">
                    info@spellboundmagicalgifts.com.au
                </div>
              </div>
            </li>
            <li class="g-my-30">
              <div class="media">
                <i class="d-flex g-color-purple g-font-size-20 mt-1 mr-4 icon-communication-033 u-line-icon-pro"></i>
                <div class="media-body">
                    (08) 8523 2460
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <i class="d-flex g-color-purple g-font-size-20 mt-1 mr-4 icon-education-097 u-line-icon-pro"></i>
                <div class="media-body">
                  <h2 class="g-color-white-opacity-0_9 g-font-size-default g-font-weight-600 text-uppercase mb-3">Shop hours:</h2>
                  <div class="mb-3">
                    <span class="d-block g-color-white">Monday - Firday</span>
                    09:30 AM - 05:00 PM
                  </div>
                  <div class="mb-3">
                    <span class="d-block g-color-white">Saturday</span>
                    9:30 AM - 02:30 PM
                  </div>
                  <span class="d-block g-color-white">Sunday &amp; Holidays</span>
                  Closed
                </div>
              </div>
            </li>
          </ul>
          <!-- End Contact Details -->
        </div>
      </div>
    </div>
  </section>