<section class="g-bg-gray-light-v5 g-py-50">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h2 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Discliamer</h2>
      </div>
      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Discliamer</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container g-py-50">
  <div class="row">
    <div class="small-12 columns">
      <p>We
        rent our healing and reading spaces to a trusted group of readers, mediums practitioners.</p>
      <p>We have a good working relationship with the people who work within our store, however, they operate their own
        businesses and are in no way employed by us.</p>
      <p>We accept no liability for your experience with and/or the advice given by practitioners and workshop
        facilitators.</p>
      <p>In the unlikely event that you have an issue with a workshop, reading or healing, please contact the reader /
        practitioner directly.</p>
      <p> We are happy to provide you with their contact details.</p>
    </div>
  </div>
  </div>
</section>