<section class="g-bg-gray-light-v5 g-py-50">
    <div class="container">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h2 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Essential Oils</h2>
            </div>
            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="/">Home</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="products.php">Shop</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main g-color-primary--hover"
                            href="aromatherapy.php">Aromatherapy</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>Essential Oils</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container g-py-50">
    <div class="row">
        <div class="col-lg-7">
            <div id="carouselCus1" class="js-carousel g-pt-10 g-mb-10 slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 1905px;">
                        <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after slick-slide slick-current slick-active"
                            data-slick-index="0" aria-hidden="false" tabindex="0"
                            style="width: 635px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; height: auto;">
                            <img class="img-fluid w-100" src="assets/img/products/PURE-ESSENTIAL-OILS.jpg"
                                alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="g-px-40--lg g-pt-70">
                <div class="g-mb-30">
                    <h1 class="g-font-weight-300 mb-4">Essential Oils</h1>
                    <p>These essential oils are the finest quality available and have been stringently tested and
                        certified as 100% pure, natural & true to botanical.
                    <p>Choose from our vast range of over 70 pure essential oils, sourced from the finest harvests
                        around the world. Ideal for use in aromatherapy, ultrasonic oil diffusers, oil burners, bath or
                        blended for massage.
                    <p>Also suitable for DIY crafting candles, soaps, bath bombs, perfume and more.
                </div>
                <div class="g-mb-30">
                    <h2 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-12 text-uppercase mb-2">Price</h2>
                    <span class="g-color-black g-font-weight-500 g-font-size-30 mr-2">from $15.00</span>
                </div>

                <div class="d-flex justify-content-between align-items-center g-brd-bottom g-brd-gray-light-v3 py-3 g-mb-30"
                    role="tab">
                    <h5 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-default mb-0">Available Scents</h5>
                    <div class="js-quantity input-group u-quantity-v1 g-width-150 g-brd-primary--focus">
                        <select class="js-result form-control g-font-size-13 rounded-0" >
                            <option value="">-- Please Select --</option>
                            <option value="">Basil</option>
                            <option value="">Bergamot</option>
                            <option value="">Cedarwood</option>
                            <option value="">Cinnamon</option>
                            <option value="">Clary Sage</option>
                            <option value="">Frankincence</option>
                            <option value="">Lavender</option>
                        </select>
                    </div>
                </div>

                <div class="row g-mx-minus-5 g-mb-20">
                    <div class="col g-px-5 g-mb-10">
                        <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25"
                            type="button">
                            Place Order <i class="align-middle ml-2 icon-finance-100 u-line-icon-pro"></i>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>