<section class="middle-section">
    <div class="row">
        <div class="medium-12">
            <h2>Gemstones</h2>
        </div>
    </div>
    <div class="row">
        <ul class="productList productSmall">
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/tigereye-tumbled-gold.jpg" alt="Tumbled Stones" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Tumbled Stones</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/chakra-chipbead-bracelet.jpg" alt="Chip Bead Bracelets" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Chip Bead Bracelets</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/garnet-beaded-bracelet.jpg" alt="Round Bead Bracelets" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Round Bead Bracelets</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/amethyst.natural.cluster.1.jpg" alt="Clusters" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Clusters</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/pendants.jpg" alt="Terminator Pendants" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Terminator Pendants</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/carnelian-rough-stones.jpg" alt="Rough Stones" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Unpolished Stones</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/gem-kits.jpg" alt="gem Stones" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Kits</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>