<section class="middle-section">
    <div class="row">
        <div class="medium-12">
            <h2>Incense/Herbs</h2>
        </div>
    </div>
    <div class="row">
        <ul class="productList productSmall">
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/nag-range.jpg" alt="incense" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Nag Incense</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/japanese-incense.jpg" alt="Japanese incense" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Japanese Incense</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/incense-holder-celtic.jpg" alt="incenseholders" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Incense Holders</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/white-sage-smudge.jpg" alt="Bone" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>White Sage</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/magical-herb-blend-money-drawing.jpg" alt="Bone" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Magical Herbs</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/charcoal-1.jpg" alt="Bone" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Charcoal</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/charcoal-incense-burner-1.jpg" alt="Bone" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Charcoal Burner</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>