<section class="middle-section">
    <div class="row">
        <div class="medium-12">
            <h2>Jewellery</h2>
        </div>
    </div>
    <div class="row">
        <ul class="productList productSmall">
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/earrings.jpg" alt="Earrings" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Earrings</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/rings.jpg" alt="rings" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Gemstone Rings</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/silver-rings.jpg" alt="silver rings" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Silver Rings</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/flower-of-life-pendant.jpg" alt="silver pendants" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Silver Pendants</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/ankh-earrings.jpg" alt="silver earrings" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Silver Earrings</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/pendants.jpg" alt="Pendants" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Terminator Pendants</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/labradorite-earings.jpg" alt="Gemstone Earrings" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Gemstone Earrings</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/handmade-jewellery.jpg" alt="handmade Jewellery" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Handmade One of a Kind Jewellery</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>