<section class="middle-section">
    <div class="row">
        <div class="medium-12">
            <h2>Meditation</h2>
        </div>
    </div>
    <div class="row">
        <ul class="productList productSmall">
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/singing-bowl.jpg" alt="singing bowls" border="0">
                        </figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Singing Bowls</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/malla-beads-light.jpg" alt="mala beads" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Mala Beads</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/prayer-wheels.jpg" alt="Prayer Wheels" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Prayer Wheels</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="" class="productItem">
                <div class="medium-3 small-6 columns">
                    <div class="product-list">
                        <figure class="product-img-sml" style="z-index: 0;">
                            <img id="" src="/assets/img/products/CD.cystal.bowl.tibetan.bowl.meditation.double.cd.extra.photo.jpg" alt="Meditation CDs" border="0"></figure>
                        <div class="info" style="visibility: hidden;">
                            <h3>Meditation CDs</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>