<section class="middle-section">
  <div class="row">
    <div class="small-12 columns">
      <h2>Readings</h2>
      <h5 style="margin-bottom:25px">Bookings must be made by phoning the store on 85232460.</h5>
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/assets/img/readers/shallagh.jpg" style="width:150px">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h4>Shallagh Warren</h4>
          <p>Duration varies • $50 / 30 mins</p>
          <p>Shallagh is a psychic medium, teacher and Reiki Master.</p>
          <p>Shallagh is available for readings on Tuesdays, Wednesdays, Thursdays and Saturdays</p>
        </div>
      </div>
      <hr>
      <!-- <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/assets/img/readers/Kay.jpg" style="width:150px">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h4>Kay Leonie</h4>
          <p>Duration varies • $40 / 30 mins or $70 / 60 mins
          </p>
          <p>Kay is a tarot reader, teacher, writer &amp;amp; great grandmother who has been with us for over 12 years
            sharing her wisdom with so many.&nbsp;&nbsp;</p>
          <p>Kay is available for readings on Wednesdays &amp;amp; Fridays 10am - 2pm..</p>
        </div>
      </div>
      <hr> -->
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/assets/img/readers/jenny.jpg" style="width:150px">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h4>Jenny</h4>
          <p>Duration varies • $50 / 30 mins
          </p>
          <p>Jenny is a psychic tarot reader, healer and teacher with many years of experience.</p>
          <p>Jenny is available for readings on Mondays and Fridays.
          </p>
        </div>
      </div>
      <!--
<hr>
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="/assets/img/annie.jpg" style="width:150px">
    </div>
  </div>
  <div class="media-object-section main-section">
    <h4>Annie</h4>
        <p>Duration varies • $40 / $70
        </p>
        <p>Annie practises the art of 'Lithomancy' or gemstone &amp; crystal divination.
        </p>
        <p>ASTROLOGY READINGS -  approx 60 mins ~ $70<br>
        A comprehensive reading that combines the 12 houses of astrology with crystals representing the planets of astrology and the chakras of the body.
        </p>
        <p>5 CRYSTAL READING / SPRITUAL CONFIRMATION – approx 30 mins ~  $40<br>
        5 crystals are randomly chosen and paired with Liquid Crystal Oracle cards to create a reading for the person’s life or spiritual journey based on the chosen crystals.
        </p>
        <p>Fridays 1.30pm - 4.30pm
        </p>
  </div>
</div>
-->
      <p> Occasionally due to illness or other unexpected situations, our readers may be unavailable.&nbsp; In the event
        that you have made a booking and
        a reader is unavailable we will contact you as early as possible on the day of your booking to arrange an
        alternative appointment.</p>
      <h2>Healings</h2>
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/assets/img/katrina.jpg" style="width:150px">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h4>Katrina</h4>
          <p>Katrina Nockolds, energy practitioner, is available for intuitive healing sessions on Mondays, Wednesdays, Fridays or
            Saturdays by appointment only.
          </p>
          <p>Katrina offers holistic, intuitive healing for children, teens, parents and the adult inner child. Katrina
            is a qualified teacher, Reiki, Pellowah &amp; Seichim Practitioner, a Childosophy Practitioner, and is
            currently in the process of becoming a Rhythmic Movement Training (RMTi) Provider.
          </p>
          <p>Consultations / healing sessions are tailored to suit the age &amp; needs of the individual but generally
            include a combination of chakra balancing, movement and vibrational energy healing.
          </p>
          <p>For more information, or to make a booking, please phone Katrina on 0435187259, or find her on facebook.
          </p>
        </div>
      </div>
      <h2>Meditation Class</h2>
      <p>At 10.00 am – 11.00 am every Tuesday and Thursday, Shallagh hosts our meditation &amp; psychic development
        group in the healing space behind the store.
      </p>
      <p>Shallagh takes the group on a beautiful guided journey, channelled from spirit, then participants are
        encouraged to share their experience and any insights that they might’ve received.
      </p>
      <p>Spaces are limited, so please phone the store to book your seat. $15 / person.
      <h2>Psychic Development</h2>
      <p>Join Shallagh, psychic medium, healer & teacher on Tuesdays at 11.30am - 12:30pm for a series of psychic development workshops in our healing space. 
        <p>Topics covered will be things like auras, energy clearing, tea leaf reading, using pendulums, reading crystal balls and lots more. 
        <p>Participants will be required to supply their own 'tools' when necessary & it's suggested that you bring a notebook & pen to each session. Bookings will be essential each week as places are limited to 8 participants.</p>
      <p>To book please <a href="/contact">contact us</a> </p>
    </div>
  </div>
</section>